<router-outlet></router-outlet>

@if (messageService.show()){
    <app-messages (onClose)="messageService.close()"
               [icon]="messageConfig().icon"
               [color] = 'messageConfig().color'
               [message]="messageConfig().message"
               [view] = "messageConfig().view"
    >
    </app-messages>
}

@if (alertQuestionService.show()) {
    <app-alert-question (onClose)="alertQuestionService.close()"
               [title]="alertQuestionConfig().title"
               [icon]="alertQuestionConfig().icon"
               [message]="alertQuestionConfig().message"
               [color]="alertQuestionConfig().color"
               [action]="alertQuestionConfig().action"
               [textButtonAc]="alertQuestionConfig().textButtonAc"
               [textButtonCa]="alertQuestionConfig().textButtonCa"
               [viewButtonCa]="alertQuestionConfig().viewButtonCa"

    >
    </app-alert-question>
}