.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; // Margen de seguridad para que el modal no toque los bordes del móvil
}


.view-content {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

  width: 100%;       // Ocupa el ancho disponible...
  max-width: 450px;  // ...pero hasta un máximo de 450px.

  // CONTROL DE ALTURA Y SCROLL
  max-height:90vh;  // No deja que el modal mida más del 90% de la altura de la pantalla
  overflow-y: auto;  // Si el contenido supera el max-height, aparece el scroll automático

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  // Mejora para que el scroll sea más estético en navegadores modernos
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }

  h4 {
    margin-bottom: 0.5rem;
    align-self: flex-start;
    font-weight: bold;
    position: sticky; // Opcional: mantiene el título arriba mientras haces scroll
    top: 0;
    background: white;
    z-index: 1;
  }

  p {
    color: #666;
    font-size: 0.9rem;
  }
}
