.select-option {
  width: auto;
}

.img-book {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.book-card{
  min-height: 280px;


  &:hover{
    h3:first-of-type{
      color: var(--color-primary);
    }

  }
}

.book-vacio{
  &:hover{
    h3:first-of-type{
      color: black;
    }
  }
}