.btn_delete{
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn_delete:hover{
  color: var(--color-danger);
  background-color: rgba(204,20,6, 0.10);
  border-color: var(--color-danger);
}


.m-card{
  min-height:300px;
}