@use './styles/variables';
@use './styles/typography' as typo;
@use './styles/bootstrap-custom';
@use './styles/theme' as th;

@include th.apply-theme();

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--background);
  color: var(--on-background);
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
}

.bg-white-shadow{
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.btn_delete{
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn_delete:hover{
  color: var(--color-danger);
  background-color: rgba(204,20,6, 0.10);
  border-color: var(--color-danger);
}

.inp-search {
  border: 1px solid var(--color-secondary);
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.inp-search:focus-within {
  box-shadow: 0 0 0 .25rem rgba(var(--color-primary-rgb), 0.25);
}

.inp-search input[type="search"] {
  border: none;
  outline: none;
  background: transparent;
}

.inp-search input[type="text"] {
  border: none;
  outline: none;
  background: transparent;
}


.box{
  font-size: 100px;
}

.card, .btn, .table, .form-control, .navbar {
  transition: all 0.3s ease;
}

.c-pointer {
  cursor: pointer;
}

.btn-black-white{
  color: black;
  background: white;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.375rem;
}

.btn-black-white:hover{
  color: white;
  background: black;
}

.luz{
  color: black;
  cursor: pointer;
}
.luz:hover{
  color: var(--color-primary);
}

.view-icon {
  color: black;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;

  &:hover {
    color: var(--color-primary);
  }
}

.cont{
  max-width: 1500px;
}


.bs-cat-rojo {
  background: rgba(229, 57, 53, 0.25);
  color: #e53935;
}

.bs-cat-naranja {
  background: rgba(251, 140, 0, 0.25);
  color: #fb8c00;
}

.bs-cat-amarillo {
  background: rgba(253, 216, 53, 0.25);
  color: #fdd835;
}

.bs-cat-rosa {
  background: rgba(216, 27, 96, 0.25);
  color: #d81b60;
}

.bs-cat-fucsia {
  background: rgba(245, 0, 87, 0.25);
  color: #f50057;
}

.bs-cat-azul {
  background: rgba(30, 136, 229, 0.25);
  color: #1e88e5;
}

.bs-cat-celeste {
  background: rgba(41, 182, 246, 0.25);
  color: #29b6f6;
}

.bs-cat-turquesa {
  background: rgba(38, 198, 218, 0.25);
  color: #26c6da;
}

.bs-cat-azul-marino {
  background: rgba(13, 71, 161, 0.25);
  color: #0d47a1;
}

.bs-cat-azul-electrico {
  background: rgba(41, 121, 255, 0.25);
  color: #2979ff;
}


.bs-cat-verde {
  background: rgba(67, 160, 71, 0.25);
  color: #43a047;
}

.bs-cat-verde-claro {
  background: rgba(165, 214, 167, 0.25);
  color: #a5d6a7;
}

.bs-cat-verde-oscuro {
  background: rgba(27, 94, 32, 0.25);
  color: #1b5e20;
}

.bs-cat-verde-neon {
  background: rgba(0, 230, 118, 0.25);
  color: #00e676;
}

.bs-cat-menta {
  background: rgba(128, 203, 196, 0.25);
  color: #80cbc4;
}

.bs-cat-morado {
  background: rgba(142, 36, 170, 0.25);
  color: #8e24aa;
}

.bs-cat-lila {
  background: rgba(206, 147, 216, 0.25);
  color: #ce93d8;
}

.bs-cat-violeta {
  background: rgba(101, 31, 255, 0.25);
  color: #651fff;
}

.bs-cat-burdeos {
  background: rgba(106, 27, 154, 0.25);
  color: #6a1b9a;
}

.bs-cat-negro {
  background: rgba(33, 33, 33, 0.25);
  color: #212121;
}

.bs-cat-gris-oscuro {
  background: rgba(66, 66, 66, 0.25);
  color: #424242;
}

.bs-cat-gris {
  background: rgba(117, 117, 117, 0.25);
  color: #757575;
}

.bs-cat-gris-claro {
  background: rgba(189, 189, 189, 0.25);
  color: #bdbdbd;
}

.bs-cat-exito {
  background: rgba(46, 125, 50, 0.25);
  color: #2e7d32;
}

.bs-cat-error {
  background: rgba(198, 40, 40, 0.25);
  color: #c62828;
}

.bs-cat-warning {
  background: rgba(249, 168, 37, 0.25);
  color: #f9a825;
}

.bs-cat-info {
  background: rgba(2, 136, 209, 0.25);
  color: #0288d1;
}
