<div class="row g-3">
    @if (cartService.countItems()>0){
        <div class="col-12 col-lg-7">
            @for (item of cartService.cart(); track item.id) {
                <div class="row bg-white-shadow rounded-3 mt-4">
                    <div class="col-12 col-md-8 d-flex gap-3 p-3">
                        <img src="{{item.book.image}}" class="img-fluid rounded-3 img-card">
                        <div class="fw-semibold d-flex flex-column align-items-start justify-content-between">
                            <div>
                                <p class="m-0 p-0">{{item.book.title}}</p>
                                <p class="m-0 p-0 text-light">{{item.book.authors}}</p>
                            </div>
                            <button class="btn btn_delete text-danger"
                                    (click)="cartService.delete(item.book)"
                            >
                                <i class="fa-solid fa-trash-can"></i>
                                Eliminar
                            </button>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 d-flex flex-md-column align-items-end justify-content-between p-3">
                        <div>
                            <p class="m-0 p-0 fw-semibold">{{item.price}} €</p>
                        </div>
                        @if (item.count >= item.book.stock) {
                            <div class="m-0 p-0 d-flex  align-self-md-end align-self-center">
                                <span class="text-danger m-0 p-0 fw-bolder">¡Stock agotado!</span>
                            </div>
                        }
                        <div class="d-flex bg-secondary rounded-3 gap-3 align-items-center px-2 py-1">
                            <button class="btn btn-black-white px-2 py-1"
                                    [disabled]="item.count<=1"
                                    (click)="cartService.remove(item.book)"
                            >
                                <i class="fa-solid fa-angle-down"></i>
                            </button>
                            <span class="fw-bold"> {{item.count}} </span>
                            <button class="btn btn-black-white px-2 py-1"
                                    [disabled]="item.count>=item.book.stock"
                                    (click)="cartService.add(item.book, false)"
                            >
                                <i class="fa-solid fa-angle-up"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="col-12 col-lg-5 p-0 ps-lg-5">
            <div class="bg-white-shadow rounded-3 mt-4 p-4">
                <div>
                    <h3 class="fw-bold">Resumen del pedido</h3>
                </div>

                <div class="mt-4 d-flex flex-column gap-2">
                    <div class="d-flex justify-content-between">
                        <p class="m-0 p-0 text-light">Subtotal ({{cartService.countItems()}} artículos)</p>
                        <p class="m-0 p-0 fw-bold">{{cartService.subtotal().toFixed(2)}} €</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="m-0 p-0 text-light">Envío estimado</p>
                        <p class="m-0 p-0 fw-bold">{{cartService.envio().toFixed(2)}} €</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="m-0 p-0 text-light">IVA (4%)</p>
                        <p class="m-0 p-0 fw-bold">{{cartService.iva().toFixed(2)}} €</p>
                    </div>
                </div>

                <div class="inp-search d-flex justify-content-between p-2 mt-4">
                    <input type="text" class="w-75" placeholder="Código de promoción">
                    <button class="btn btn-primary w-25">Aplicar</button>
                </div>

                <div class="d-flex justify-content-between mt-4 align-items-center">
                    <p class="m-0 p-0 fw-semibold">Total</p>
                    <p class="m-0 p-0 fw-bold fs-4">{{cartService.total().toFixed(2)}} €</p>
                </div>

                <button class="btn btn-primary w-100 mt-4 fw-bold py-2"
                    [disabled]="cartService.countItems()<=0"
                    routerLink="/cart/shipping"
                >
                    Proceder al pago
                    <i class="fa-solid fa-arrow-right ps-3"></i>
                </button>

                <div class="mt-5 d-flex flex-column gap-2">
                    <div class="d-flex gap-2 align-items-center justify-content-center">
                        <i class="fa-solid fa-shield-halved text-success"></i>
                        <span class="text-light fw-semibold">Pago seguro</span>
                    </div>

                    <div class="d-flex gap-3 text-light fs-4 justify-content-center">
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-cc-stripe"></i>
                        <i class="fa-brands fa-cc-paypal"></i>
                    </div>
                </div>

            </div>
        </div>
    } @else {
        <div class="bg-white-shadow rounded-3 mt-5 p-5 text-secondary d-flex flex-column gap-3 justify-content-center align-items-center">
            <h3 class="m-0 p-0">No hay libros en el carrito</h3>
            <i class="fa-solid fa-box-open box"></i>
        </div>
    }
</div>