.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0);

  display: flex;
  justify-content: center;
  align-items: end;
  padding: 20px;
}


.view-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-inline: 20px;
  padding-block: 15px;
}