:host {
  position: absolute;
  top: 60px;
  right: 257px;
  z-index: 1050;
}

.user-popup-container {
  width: 240px;
  position: fixed;
  z-index: 1051;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 1050;
}

.perfil-logo{
  width: 50px;
  height: 50px;
  border: 2px solid var(--color-dark);
}

.item-logout:hover{
  cursor: pointer;
  background-color: rgba(224, 3, 3, 0.1);
}

.btn-popup-perfil{
  width: 100%;
  border: 1px solid var(--color-primary);
  background-color: rgba((var(--bs-primary-rgb)), 0.1);
}

.btn-popup-logout{
  width: 100%;
  border: 1px solid var(--color-danger);
  background-color: rgba((var(--bs-danger-rgb)), 0.1);
}